---
layout: default_en
permalink: /en/peoples/
---

 <head>
  <style type="text/css">
   #pic {
    float: left; /* Обтекание картинки текстом */
   }
   #text {
    margin-left: 110px; /* Отступ от левого края */
   }
  </style>
 </head>

<body>

<p><a href="#postdoc">Postdoc </a></li> &nbsp &nbsp 
<a href="#phd">PhD students </a></li> &nbsp &nbsp 
<a href="#students">Student </a></li></p>

<h2>Head of lab</h2>

  {% for people in site.peoples %}
	{% if people.status == "head" %}
		
		<div id="pic">
			<img src="{{ people.photo }}" width=100/>
		</div >
		
		<div id="text">
		
			<h3>{{ people.name_en }}</h3>
			<br clear="all">
		</div>
		<br>
	{% endif %}
  {% endfor %}

<h2 id="postdoc">Postdoc</h2>

	{% for people in site.peoples %}
	{% if people.status == "postdoc" %}
		
		<div id="pic">
			<img src="{{ people.photo }}" width=100/></a>
		</div >
		
		<div id="text">
		
			<h3>{{ people.name_en }}</h3>
			<br clear="all">
		</div>
		<br>
	{% endif %}
  {% endfor %}
  
<h2 id="phd">PhD students</h2>

	{% for people in site.peoples %}
	{% if people.status == "phd" %}
		
		<div id="pic">
			<img src="{{ people.photo }}" width=100/>
		</div >
		
		<div id="text">
		
			<h3>{{ people.name_en }}</h3>
			<br clear="all">
		</div>
		<br>
	{% endif %}
  {% endfor %}
  
<h2 id="students">Students</h2>

	{% for people in site.peoples %}
	{% if people.status == "student" %}
		
		<div id="pic">
			<img src="{{ people.photo }}" width=100/>
		</div >
		
		<div id="text">
		
			<h3>{{ people.name_en }}</h3>
			<br clear="all">
		</div>
		<br>
	{% endif %}
  {% endfor %}

</body>