---
layout: default
---
<div class="container">
<h2>О нас</h2>
    <div class="row align-items-baseline">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="container">
                <p>
                    Добро пожаловать на сайт Лаборатории природных гуминовых систем кафедры медицинской химии и тонкого
                    органического синтеза химического факультета Московского государственного университета имени
                    М.В.Ломоносова.
                    Лаборатория создана в качестве структурного подразделения кафедры медицинской химии и тонкого
                    органического синтеза
                    химического факультета МГУ согласно приказу ректора МГУ от 1 августа 2017 года. Поэтому сегодня наша
                    лаборатория –
                    одна из самых <a href="/people/molodyh/">«молодых»</a> на химфаке :)
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="container">
                <p>
                    Руководителем лаборатории является главный научный сотрудник, доктор
                    химических наук, профессор <a href="/people/perminova/">Ирина Васильевна Перминова</a>. Наша <a
                        href="/people/">Команда</a>
                    состоит из научных сотрудников, аспирантов и студентов химического факультета. В <a
                        href="/science/">задачи</a>
                    лаборатории входит исследование строения и свойств супрамолекулярных ансамблей природных гуминовых
                    систем с
                    целью
                    создания природоподобных структур, материалов и технологий для медицины, экологии и сельского
                    хозяйства
                    методами
                    рационального дизайна, синтеза и машинного обучения. Мы рады видеть Вас на нашем сайте!
                </p>
            </div>
        </div>
    </div>

</div>


<div class="container">
<h2>Последняя публикация</h2>

{% assign sorted = site.papers | sort: 'year' | reverse %}
{% for item in sorted limit:1 %}

    <div class="row align-items-baseline">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="container">
                <h4>Общая информация</h4>
                <p><b>{{ item.title }}.</b> <br> {{ item.authors }}. {{ item.journal }}, {{ item.year }}, {{
                    item.pages }},
                    <a href="http://dx.doi.org/{{ item.doi }}">doi: {{ item.doi }}</a></p>

                {% if item.graph_abstract != 0 %}
                <a href="{{ item.url }}/"><img src="{{ item.graph_abstract }}"/></a>
                {% endif %}
                <a href="{{ item.url }}">Подробнее о этой публикации</a>
                <br>
                <a href="/publications/">Все публикации</a>
                <br>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="container">
                <h4>Абстракт статьи</h4>
                <p> {{ item.abstract }} </p>
            </div>
        </div>
    </div>
</div>
<hr noshade size="1" color="#E9E9E9">
{% endfor %}

<!--
<div class="container">
<h2>Последние новости</h2>
    <div class="row align-items-baseline">

        {% for post in site.posts %}
        {% if post.pin == 1 %}
        <div class="col-lg-6 col-md-6 col-12">
            <div class="container">

                <article class="post">

                    <p>
                    <h3>{{ post.date | date: "%Y-%m-%d" }}</h3>
                    <h5>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h5>
                    <img src="{{ post.image }}"/>
                    </p>

                </article>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>
</div>
<hr noshade size="1" color="#E9E9E9">
-->

<!--<h2>Текущие проекты</h2>-->

<!--{% for item in site.projects %}-->

<!--{% if item.actual == 1 %}-->

<!--{% if item.logo != 0 %}-->
<!--<a href="{{ item.url }}/"><img src="{{ item.logo }}" height=70/></a>-->
<!--{% endif %}-->

<!--{% endif %}-->

<!--{% endfor %}-->

<!--<br>-->
<!--<br>-->
<!--<br>-->

<h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">
    Немного нашей жизни в лаборатории. Подписывайтесь также на наш <a href="https://instagram.com/perminovalab">Instagram</a>
</h3>

{% for item in site.photos %}
<img src="{{ item.image_path }}">
<br>
{% endfor %}