---
layout: default
---



<div class="container">
<h2>{% t pages.index.about %}</h2>
    <div class="row align-items-baseline">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="container">
                <p>
                    {% tf index/part_1.md %}
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="container">
                <p>
                    {% tf index/part_2.md %}
                </p>
            </div>
        </div>
    </div>

</div>

<hr noshade size="1" color="#E9E9E9">
<div class="container">
	<div class="row align-items-baseline">
		<div class="col-lg-6 col-md-6 col-12">
            <div class="container">
				{% tf index/part_4.md %}
			</div>
		</div>
	

	
		<div class="col-lg-6 col-md-6 col-12">
			<div class="container">
				{% tf index/part_3.md %}
				<h5> <a href="https://www.kommersant.ru/doc/6367457">{% t pages.index.linkKomer %}</a></h5>
			</div>
		</div>
	</div>
</div>



<!--
<hr noshade size="1" color="#E9E9E9">
<img src="assets/images/photo/baner.jpg">-->
<hr noshade size="1" color="#E9E9E9">


<div class="container">
<h2>{% t pages.index.last_publication %}</h2>

{% assign sorted = site.papers | sort: 'year' | reverse %}
{% for item in sorted limit:1 %}

    <div class="row align-items-baseline">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="container">
                <h4>{% t pages.index.general_information %}</h4>
                <p><b>{{ item.title }}.</b> <br> {{ item.authors }}. {{ item.journal }}, {{ item.year }}, {{
                    item.pages }},
                    <a href="http://dx.doi.org/{{ item.doi }}">doi: {{ item.doi }}</a></p>

                {% if item.graph_abstract != 0 %}
                <a href="{{ item.url }}/"><img src="{{ item.graph_abstract }}"/></a>
                {% endif %}
                <a href="{{ site.baseurl }}/{{ item.url }}">{% t pages.index.about_this_publication %}</a>
                <br>
                <a href="{{ site.baseurl }}/publications/">{% t pages.index.all_publications %}</a>
                <br>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="container">
                <h4>{% t pages.index.abstract %}</h4>
                <p> {{ item.abstract }} </p>
            </div>
        </div>
    </div>
</div>
<hr noshade size="1" color="#E9E9E9">
{% endfor %}

<h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">
    {% t pages.index.instagram%}
	<br><br>
	
</h3>

{% for item in site.photos %}
<img src="{{ item.image_path }}">
<br>
{% endfor %}
