---
layout: default
permalink: /publications_all/
---

<style>
	li{
		margin:20px;
	}
</style>

<p><a href="/publications">Последние</a>&nbsp &nbsp <a href="/publications_all"  style="color: red;">Все публикации</a></p> 

<p>
{% for year in (1982..2021) reversed %}
  {% if year == 2006 or year == 1994 or year == 1993 or year == 1993 or year == 1992 or year == 1991 or year == 1990%}
		{% continue %}
  {% endif %}
  {% if year == 1988 or year == 1987 or year == 1986 or year == 1985 or year == 1984 or year == 1983%}
		{% continue %}
  {% endif %}
  <a href="#{{ year }}">{{ year }} </a>
{% endfor %}
</p>
<br>

{% for year in (1982..2021) reversed %}
	{% if year == 2006 or year == 1994 or year == 1993 or year == 1993 or year == 1992 or year == 1991 or year == 1990%}
		{% continue %}
	{% endif %}
	{% if year == 1988 or year == 1987 or year == 1986 or year == 1985 or year == 1984 or year == 1983%}
		{% continue %}
	{% endif %}
	<h1 id="{{year}}">{{year}}</h1>
	{% assign sorted = site.papers | sort: 'year' | reverse %}
	{% for item in sorted %}
		{% if item.year == year %}
		    {% if item.graph_abstract != 0 %}
				<a href="{{ item.url }}/" ><img src="{{ item.graph_abstract }}" height=150/></a>
			{% endif %}
			<p>{{ item.authors }}, <a href="{{ item.url }}">{{ item.title }}</a>. {{ item.journal }}, {{ item.year }}, {{ item.pages }}, <a href="http://dx.doi.org/{{ item.doi }}">doi: {{ item.doi }}</a></p>
		<hr noshade size="1" color="#E9E9E9">
		{% endif %}
		
	{% endfor %}
{% endfor %}
<br>